@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/*Main content*/
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border: 0;
    margin: 0;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    align-items: center;
    justify-content: center;
}

div {
    height: 60px;
    width: 100vw;
}

ol {
    overflow: auto;
}

li {
    font-size: 130%;
    margin-right: 20px;
}

/*The test screens*/
#sidebar {
    margin-top: 10%;
    height: 60px;
    width: 60vw;
    display: flex;
    background-color: rgba(255, 0, 0, 0.8);
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.gamescreen {
    height: 180px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    z-index: 10;
}

.blackscreen {
    position: relative;
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.greenscreen {
    position: relative;
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 128, 0);
}

.yellowscreen {
    position: relative;
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 0);
}

footer {
    height: 60px;
    width: 100vw;
    position: fixed;
    bottom: 0%;
    background-color: rgba(245, 245, 220, 0.6);
}

footer i {
    width: 40vw;
    margin-top: 15px;
    color: rgb(0, 0, 0);
}

header {
    height: 80px;
    width: 100vw;
    margin: 0;
    position: fixed;
    top: 0%;
    background-color: rgba(245, 245, 220, 0.6);
}

.heading {
    height: 60px;
    width: 100vw;
    margin: 0;
    position: fixed;
    top: 0%;
    font-size: 25px;
    margin-top: 20px;
}

/*Nav*/

nav {
    position: fixed;
    display: inline-block;
    top: 10%;
    height: 40px;
    width: 100vw;
    margin-top: 30px;
}

.nav-button-1 {
    height: 40px;
    width: 80px;
    margin-right: 40px;
    font-size: large;
    appearance: auto;
    text-rendering: auto;
    color: rgb(0, 0, 0);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: rgba(165, 42, 42, 0.8);
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    text-align: center;
    border-style: outset;
    border-color: rgb(0, 0, 0);
    border-image: initial;
    text-decoration: none;
    font-size: 150%;
}

.nav-button-2 {
    height: 40px;
    width: 80px;
    margin-right: 40px;
    font-size: large;
    appearance: auto;
    text-rendering: auto;
    color: rgb(0, 0, 0);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: rgba(165, 42, 42, 0.8);
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    text-align: center;
    border-style: outset;
    border-color: rgb(0, 0, 0);
    border-image: initial;
    text-decoration: none;
    font-size: 150%;
}

/*Hero image*/
.background-default {
    height: 100vh;
    width: 100vw;
    background: url(../images/hero-image.jpg) no-repeat center / cover;
    position: fixed;
    z-index: -1;
    opacity: 80%;
}

/*Test start screen*/
.start-screen {
    height: 180px;
    width: 80vw;
    display: flex;
    background-color: rgba(255, 0, 0, 0.6);
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    overflow: auto;
    z-index: 10;
}

#button-default {
    height: 40px;
    width: 120px;
    position: relative;
    margin-top: 15px;
}

i {
    font-size: 2rem;
}

#red {
    height: 180px;
    width: 80vw;
    display: flex;
    background-color: rgba(255, 0, 0, 0.6);
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    overflow: auto;
    z-index: 10;
}

/* for phones that are turned sideways */
@media screen and (min-width: 653px) {

    header {
        height: 40px;
        width: 100vw;
        margin: 0;
        position: fixed;
        top: 0%;
        background-color: rgba(245, 245, 220, 0.6);
    }

    .heading {
        height: 30px;
        width: 100vw;
        margin: 0;
        position: fixed;
        top: 0%;
        font-size: 25px;
        margin-top: 10px;
    }

    footer {
        height: 30px;
        width: 100vw;
        position: fixed;
        bottom: 0%;
        background-color: rgba(245, 245, 220, 0.6);
    }

    footer i {
        width: 40vw;
        margin-top: 0px;
        color: black;
    }

    #sidebar {
        margin-top: 10px;
        height: 60px;
        width: 20vw;
        display: flex;
        background-color: rgba(255, 0, 0, 0.8);
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
    }

    .gamescreen {
        margin-top: 10px;
        height: 150px;
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
    }

    .start-screen {
        margin-top: 10px;
        height: 150px;
        width: 40vw;
        display: flex;
        background-color: rgba(255, 0, 0, 0.6);
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
    }

    nav {
        position: fixed;
        display: inline-block;
        top: 10%;
        height: 40px;
        width: 100vw;
        margin-top: 20px;
    }

    .nav-button-1 {
        height: 40px;
        width: 80px;
        margin-right: 200px;
    }

    .nav-button-2 {
        height: 40px;
        width: 80px;
        margin-left: 200px;
    }

    #red {
        margin-top: 10px;
        height: 150px;
        width: 40vw;
        display: flex;
        background-color: rgba(255, 0, 0, 0.6);
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
    }
}

/* tablets and larger */
@media screen and (min-width: 768px) {

    header {
        height: 80px;
        width: 100vw;
        margin: 0;
        position: fixed;
        top: 0%;
        background-color: rgba(245, 245, 220, 0.6);
    }

    .heading {
        height: 30px;
        width: 100vw;
        margin: 0;
        position: fixed;
        top: 0%;
        font-size: 25px;
        margin-top: 25px;
    }

    footer {
        height: 60px;
        width: 100vw;
        position: fixed;
        bottom: 0%;
        background-color: rgba(245, 245, 220, 0.6);
    }

    footer i {
        width: 40vw;
        margin-top: 0px;
        color: black;
        font-size: 60px;
    }

    #sidebar {
        margin-top: 10%;
        height: 60px;
        width: 15vw;
        display: flex;
        background-color: rgba(255, 0, 0, 0.8);
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
    }

    .gamescreen {
        height: 160px;
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
    }

    .start-screen {
        height: 160px;
        width: 40vw;
        display: flex;
        background-color: rgba(255, 0, 0, 0.6);
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
    }

    nav {
        position: fixed;
        display: inline-block;
        top: 10%;
        height: 40px;
        width: 100vw;
        margin-top: 20px;
    }

    .nav-button-1 {
        height: 40px;
        width: 80px;
        margin-right: 200px;
    }

    .nav-button-2 {
        height: 40px;
        width: 80px;
        margin-left: 200px;
    }

    #red {
        height: 160px;
        width: 40vw;
        display: flex;
        background-color: rgba(255, 0, 0, 0.6);
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
    }
}

/* laptop and larger */
@media screen and (min-width: 1024px) {

    .nav-button-1 {
        height: 40px;
        width: 80px;
        margin-right: 400px;
    }

    .nav-button-2 {
        height: 40px;
        width: 80px;
        margin-left: 400px;
    }
}

/* wide widescreen*/
@media screen and (min-width: 1200px) {

    #sidebar {
        margin-top: 10%;
        height: 60px;
        width: 15vw;
        display: flex;
        background-color: rgba(255, 0, 0, 0.8);
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
    }

    .gamescreen {
        height: 160px;
        width: 25vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
    }

    .start-screen {
        height: 160px;
        width: 25vw;
        display: flex;
        background-color: rgba(255, 0, 0, 0.6);
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
    }

    .nav-button-1 {
        height: 40px;
        width: 80px;
        margin-right: 320px;
    }

    .nav-button-2 {
        height: 40px;
        width: 80px;
        margin-left: 320px;
    }

    #red {
        height: 160px;
        width: 25vw;
        display: flex;
        background-color: rgba(255, 0, 0, 0.6);
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
    }
}